


* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    /* background-color: rgb(160, 206, 246); */
    background-color: #1e88e5;
}

p{
    font-size: 20px;
    /* margin-bottom: 20px; */
}
.container {
    background-color: #ffffff;
    width: 90vmin;
    position: absolute;
    top: 10%;
    left: 30%;
    padding: 80px 50px;
    border-radius: 10px;
    box-shadow: 0 20px 40px rgba(38, 33, 61, 0.2)
}
h1 {
    font-size: 40px;
    padding: 0px 0px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 31px;
    margin-top: -45px;
}

.search_box input {
    padding: 5px;
    width: 85%;
    border: none;
    height: 45px;
    background-color: rgb(157, 247, 253);
    font-size: 22px;
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgb(50 55 60 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
    margin-bottom: 10px;
}

.search_box button {
    padding: 5px 0;
    width: 10%;
    border: none;
    height: 45px;
    background-color: rgb(157, 247, 253);
    font-size: 22px;
    border-radius: 10px;
}

.result{
    position: relative;
    font-size: 20px;
}
 
.result h3 {
    font-size: 30px;
}


.word{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}


#SoundBtn{
    background-color: transparent;
    color: black;
    border: none;
    font-size: 28px;
    outline: none;
}


.details{
    display: flex;
    gap: 30px;
    color: #1f194c;
    margin: 5px 0 20px 0;
    font-size: 20px;
}

h5{
    font-size: 20px;
    margin-bottom: 10px;
}

.details p{
    font-size: 26px;
}
